*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(146deg, rgba(2, 0, 36, 1) 0%, rgba(125, 44, 44, 1) 80%, rgba(111, 12, 12, 1) 100%);
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	font-family: 'Press Start 2P', cursive;
}

.container {
	position: relative;
	display: inline-block;
	top: 20px;
}

.box {
	position: absolute;
	display: flex;
	align-items: center;
	padding: 20px;
	width: 100%;
}

canvas {
	border-radius: 8px;
	box-shadow: 0 20px 20px black;
}

.player-health-wrapper,
.enemy-health-wrapper {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	border: 4px solid white;
}

.player-health-wrapper {
	display: flex;
	justify-content: flex-end;
	border-right: none;
}

.enemy-health-wrapper {
	border-left: none;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
	height: 50px;
	background-color: #333;
	color: #fff;
	border: 4px solid white;
	flex-shrink: 0;
}

.enemy-health,
.player-health {
    height: 30px;
	width: 100%;
	background-color: rgba(231, 29, 29, 0.685);
}

.player-health-background,
.enemy-health-background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #818CF8;
}

.player-health-background {
	width: 100%;
}

.enemy-health-background {
	left: 0;
}

.tie {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
}
